.sign-in-and-sign-up {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    .signIn {
        padding-right: 100px;
        display: flex;
        flex-direction: column;
    }

    .signUp {
        display: flex;
        flex-direction: column;
    }
}